.quick-search-container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  background-color: #2b2a2a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.quick-search-container h2 {
  margin-bottom: 30px;
  color: #fff;
}

.quick-search-input-field {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #fff;
  color: #2b2a2a;
  outline: none;
}

.quick-search-input-field::placeholder {
  color: #999;
}

.send-code-button {
  width: calc(100% - 24px); 
  padding: 12px 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  display: block;
  margin: 20px 0 0;
}

.send-code-button:hover {
  background-color: #5a6268;
}
